[Desktop Entry]
Name=Egalite Internet Messenger
GenericName=Internet Messenger
GenericName[fr]=Messagerie internet
Comment=Chat over IRC, Google Talk, Jabber/XMPP, Direct SSL Connections
Exec=/opt/egalite/bin/egalite --phone
Icon=/usr/share/icons/hicolor/64x64/apps/egalite.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
